<div class="wrapper mat-elevation-z8">

    <div class="top">

        <i class="fas fa-user-astronaut"></i>

    </div>

    <div class="icons">

        <i routerLink="home" routerLinkActive="active" class="fas fa-home" [style.color]="themesService.leftToolbarIconColor"></i>
        <i routerLink="inbox" routerLinkActive="active" class="fas fa-inbox" [style.color]="themesService.leftToolbarIconColor"></i>
        <i routerLink="chat" routerLinkActive="active" class="fas fa-comments" [style.color]="themesService.leftToolbarIconColor"></i>
        <i routerLink="settings" routerLinkActive="active" class="fas fa-cog" [style.color]="themesService.leftToolbarIconColor"></i>

    </div>

    <div class="bottom">

        <div class="add">

            <i class="fas fa-plus"></i>

        </div>

    </div>

</div>
